Body{
   background-image:url(Smash.JPG);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
   text-align: center;
    margin-top:100px;
    color: navy;
 font-size: 50px;
    font-family:inherit;
    
}
.home {
    background-color:aliceblue;
    border: aliceblue;
    color: aliceblue;
     padding: 5px 10px;
    text-align: center;
       font-family:monospace;
    display: 
        block;
    font-size: 16px;
      position: absolute;
    right: 287px;
    top: 30px;
}
.aboutme {
    background-color:aliceblue;
    border: aliceblue;
    color: aliceblue;
    padding: 5px 10px;
    text-align: center;
    font-family:monospace;
    display: 
        block;
    font-size: 16px;
    margin-top:-28.5px ;
    margin-left: 1250px;
}
  position: absolute;
    right: 185px;
    top: 30px;
} 
.myexperiences {
    background-color:aliceblue;
    border: aliceblue;
    color: aliceblue;
     padding: 5px 10px;
    text-align: center;
       font-family:monospace;
    display: 
        block;
    font-size: 16px;
     margin-top:-28.5px;
}
     position: absolute;
    right: 30px;
    top:30p